<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="" method="POST">
            Name: <br>
            <input type="text" name="name" id=""><br>
            Born: <br>
            <input type="date" name="born" id=""><br>
            Team: <br>
            <input type="text" name="team" id=""><br>
            dpi: <br>
            <input type="text" name="dpi" id=""><br>
            edpi: <br>
            <input type="text" name="edpi" id=""><br>
            sensitivity: <br>
            <input type="text" name="sensitivity" id=""><br>
            hz: <br>
            <input type="text" name="hz" id=""><br>
            Zoom sens: <br>
            <input type="text" name="zoom_sense" id=""><br>
            Mouse acceleration: <br>
            <input type="text" name="mouse_accel" id=""><br>
            raw input: <br>
            <input type="text" name="raw_input" id=""><br>
            crosshair: <br>
            <textarea name="crosshair" id="" cols="30" rows="10"></textarea><br>
            View model: <br>
            <input type="text" name="view_model" id=""><br>
            <br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>