<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="POST">
        Username: <br>
        <input type="text" name="username" id=""><br>
        Email: <br>
        <input type="text" name="email" id=""> <br>
        Password: <br>
        <input type="password" name="password" id=""> <br>
        <br>
        <input type="submit" value="submit">
    </form>
    <center>
        <%if (Object.keys(flash).length !== 0) {%>
            <%if (flash.success) {%>
                <p><%=flash.success%></p>
            <%}else if (flash.error.errors) {%>
                <%flash.error.errors.forEach(err => {%>
                    <p><%=err.message%></p><br>
                <%})%>
            <%}%>
        <%}%>
        </center>
</body>
</html>